#teams_profile.content_wrapper
  .container
    .wrapper
      .span-7
        .image_wrapper
          - if @team.thumbnail
            = image_tag @team.thumbnail, :class => 'image'
      .span-17.last
        .info_wrapper
          .header
            %h1#team_name #{@team.name}
            .clear
          .clear
          .left_column
            %strong.small_caps Description
            %p #{@team.what}
            %hr
            %dl
              - if not @team.where.nil?
                - @team.where.each do |what,link|
                  %dt
                    %strong.small_caps= what
                  %dd
                    %p= nice_link link
          .right_column
            %strong.small_caps Tools
            - if not @team.how.nil?
              - for how in @team.how
                %p= how
            %hr
            %dl
              %dt
                %strong.small_caps Near Teams
              %dd &nbsp;
              - for team in @near_teams
                %dt
                  %strong.small_caps= team.name
                %dd
                  - if team.thumbnail
                    = image_tag team.thumbnail, :style => 'height:24px;vertical-align:middle'
                  = link_to team, team.team_home
            .clear
      .clear
%footer
  .container
    .gem_users
      %h3 See who is using this Team