#rubygem_profile
  .container
    .span-7
      .rubygem_image
        - if @team.thumbnail
          = image_tag @team.thumbnail
    .span-17.last
      .rubygem_info
        .gem_name
          %span.download
          %h1#team_name #{@team.name}
          .clear
        .clear
        .rubygem_info_wrapper
          .left_column
            %strong.small_caps Description
            %p #{@team.what}
          .right_column
            %strong.small_caps Tools
            - for how in @team.how
              %br
              = how
          .clear
          %hr
          .left_column
            %dl
              - @team.where.each do |what,link|
                %dt
                  %strong.small_caps= what
                %dd
                  %p= nice_link link
              
          .right_column
            %dl
              %dt
                %strong.small_caps Near Teams
              %dd
                %p 
              - for team in @near_teams
                %dt
                  %strong.small_caps= team.name
                %dd
                  %p
                    - if team.thumbnail
                      = image_tag team.thumbnail, :style => 'width:30px'
                    = link_to team, team.team_home

          .clear
    .clear
.footer
  .container
    .gem_users
      %h3 See who is using this Team