<%= form_for(@rubygem) do |f| %>
  <% if @rubygem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rubygem.errors.count, "error") %> prohibited this rubygem from being saved:</h2>

      <ul>
      <% @rubygem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :downloads %><br />
    <%= f.text_field :downloads %>
  </div>
  <div class="field">
    <%= f.label :version %><br />
    <%= f.text_area :version %>
  </div>
  <div class="field">
    <%= f.label :version_downloads %><br />
    <%= f.text_field :version_downloads %>
  </div>
  <div class="field">
    <%= f.label :homepage_uri %><br />
    <%= f.text_area :homepage_uri %>
  </div>
  <div class="field">
    <%= f.label :authors %><br />
    <%= f.text_area :authors %>
  </div>
  <div class="field">
    <%= f.label :project_uri %><br />
    <%= f.text_area :project_uri %>
  </div>
  <div class="field">
    <%= f.label :gem_uri %><br />
    <%= f.text_area :gem_uri %>
  </div>
  <div class="field">
    <%= f.label :source_code_uri %><br />
    <%= f.text_area :source_code_uri %>
  </div>
  <div class="field">
    <%= f.label :bug_tracker_uri %><br />
    <%= f.text_area :bug_tracker_uri %>
  </div>
  <div class="field">
    <%= f.label :wiki_uri %><br />
    <%= f.text_area :wiki_uri %>
  </div>
  <div class="field">
    <%= f.label :mailing_list_uri %><br />
    <%= f.text_area :mailing_list_uri %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
