<h1>Listing rubygems</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Downloads</th>
    <th>Version</th>
    <th>Version downloads</th>
    <th>Homepage uri</th>
    <th>Authors</th>
    <th>Project uri</th>
    <th>Gem uri</th>
    <th>Source code uri</th>
    <th>Bug tracker uri</th>
    <th>Wiki uri</th>
    <th>Mailing list uri</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rubygems.each do |rubygem| %>
  <tr>
    <td><%= rubygem.name %></td>
    <td><%= rubygem.description %></td>
    <td><%= rubygem.downloads %></td>
    <td><%= rubygem.version %></td>
    <td><%= rubygem.version_downloads %></td>
    <td><%= rubygem.homepage_uri %></td>
    <td><%= rubygem.authors %></td>
    <td><%= rubygem.project_uri %></td>
    <td><%= rubygem.gem_uri %></td>
    <td><%= rubygem.source_code_uri %></td>
    <td><%= rubygem.bug_tracker_uri %></td>
    <td><%= rubygem.wiki_uri %></td>
    <td><%= rubygem.mailing_list_uri %></td>
    <td><%= link_to 'Show', rubygem %></td>
    <td><%= link_to 'Edit', edit_rubygem_path(rubygem) %></td>
    <td><%= link_to 'Destroy', rubygem, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rubygem', new_rubygem_path %>
