#gems_list.content_wrapper
  .container
    %br
    %h1 RubyGems
    - for rubygem in @rubygems
      %span.small_caps #{link_to rubygem.name, rubygem} #{rubygem.version} (#{rubygem.downloads})
      = truncate rubygem.description, :length => 105
      %hr
    = will_paginate @rubygems
%footer
  .container
    &nbsp;