#rubygem_profile
  .container
    .span-7
      .rubygem_image
        - if @rubygem.uri
          = thumbalizr @rubygem.uri
        - else
          #{image_tag 'rubygem.png'}
    .span-17.last
      .rubygem_info
        .gem_name
          %span.download #{@rubygem.downloads}
          %h1#gem_name #{@rubygem.name}
          .clear
        .clear
        .rubygem_info_wrapper
          .left_column
            %strong.small_caps Description
            %p #{@rubygem.description}
          .right_column
            %strong.small_caps Version
            %p
              %strong #{@rubygem.version}
              (#{@rubygem.version_downloads} downloads)
          .clear
          %hr
          .left_column
            %strong.small_caps Authors
            %h2 #{@rubygem.authors}
          .right_column
            %dl
              - if @rubygem.homepage_uri
                %dt
                  %strong.small_caps Home
                %dd
                  %p= nice_link @rubygem.homepage_uri
              - if @rubygem.project_uri
                %dt
                  %strong.small_caps Project
                %dd
                  %p= nice_link @rubygem.project_uri
              - if @rubygem.gem_uri
                %dt
                  %strong.small_caps Gem
                %dd
                  %p= nice_link @rubygem.gem_uri
              - if @rubygem.source_code_uri
                %dt
                  %strong.small_caps Source
                %dd
                  %p= nice_link @rubygem.source_code_uri
              - if @rubygem.bug_tracker_uri
                %dt
                  %strong.small_caps Bugs
                %dd
                  %p= nice_link @rubygem.bug_tracker_uri
              - if @rubygem.wiki_uri
                %dt
                  %strong.small_caps Wiki
                %dd
                  %p= nice_link @rubygem.wiki_uri
              - if @rubygem.mailing_list_uri
                %dt
                  %strong.small_caps Mailing List
                %dd
                  %p= nice_link @rubygem.mailing_list_uri
          .clear
    .clear
.footer
  .container
    .gem_users
      %h3 See who is using this Gem
      %ul.list_of_gem_users
        - 20.times do
          %li
            .info
              #{image_tag 'default_user_image.png', :size => '24x24'}
              %strong {username}
              %span.level {level}