#rubygem_profile
  .container
    .wrapper
      .span-7
        .image_wrapper
          = thumbalizr @rubygem.uri
      .span-17.last
        .info_wrapper
          .header
            %h1#gem_name #{@rubygem.name}
            .detail.download
              %span #{@rubygem.downloads}
            .clear
          .clear
        .info_wrapper
          .left_column
            %strong.small_caps Description
            %p #{@rubygem.description}
            %hr
            %strong.small_caps Authors
            %h3 #{@rubygem.authors}
            %hr
            %strong.small_caps Indicators
            %ul
              - if not @rubygem.indicators.nil?
                - @rubygem.indicators.each do |key,value|
                  %li{:class => value } #{hash.key}
          .right_column
            %strong.small_caps Version
            %p
              %strong #{@rubygem.version}
              (#{@rubygem.version_downloads} downloads)
            %hr
            %dl
              - if @rubygem.homepage_uri
                %dt
                  %strong.small_caps Home
                %dd= nice_link @rubygem.homepage_uri
              - if @rubygem.project_uri
                %dt
                  %strong.small_caps Project
                %dd= nice_link @rubygem.project_uri
              - if @rubygem.gem_uri
                %dt
                  %strong.small_caps Gem
                %dd= nice_link @rubygem.gem_uri
              - if @rubygem.source_code_uri
                %dt
                  %strong.small_caps Source
                %dd= nice_link @rubygem.source_code_uri
              - if @rubygem.bug_tracker_uri
                %dt
                  %strong.small_caps Bugs
                %dd= nice_link @rubygem.bug_tracker_uri
              - if @rubygem.wiki_uri
                %dt
                  %strong.small_caps Wiki
                %dd= nice_link @rubygem.wiki_uri
              - if @rubygem.mailing_list_uri
                %dt
                  %strong.small_caps Mailing List
                %dd= nice_link @rubygem.mailing_list_uri
          .clear
    .clear
.footer
  .container
    .gem_users
      %h3 See who is using this Gem
      %ul.list_of_gem_users
        - 20.times do
          %li
            .info
              #{image_tag 'default_user_image.png', :size => '24x24'}
              %strong {username}
              %span.level {level}
-#
  <Rubygem id: 976, name: "authlogic", description: "A clean, simple, and unobtrusive ruby authenticatio...", downloads: 189505, version: "2.1.6", version_downloads: 41797, homepage_uri: "http://github.com/binarylogic/authlogic", authors: "Ben Johnson of Binary Logic", project_uri: "http://rubygems.org/gems/authlogic", gem_uri: "http://rubygems.org/gems/authlogic-2.1.6.gem", source_code_uri: nil, bug_tracker_uri: nil, wiki_uri: nil, mailing_list_uri: nil, created_at: "2010-10-16 00:37:47", updated_at: "2010-10-16 11:12:45", documentation_uri: nil,
  indicators: [
  {"Rails 3"=>"yes"}, {"Thread Safety"=>"yes"}, {"JRuby"=>"dontknow"}, {"Ruby 1.9"=>"yes"}], indicators_version: "2.1.6", railsplugins_id: 56

