#rubygem_profile.content_wrapper
  .container
    .wrapper
      .span-7
        .image_wrapper
          = link_to @rubygem.uri, :target => :_blank do
            = thumbalizr @rubygem.uri
      .span-17.last
        .info_wrapper
          .header
            %h1#gem_name #{@rubygem.name}
            .detail.download
              %span #{number_to_human(@rubygem.downloads, :precision => 1, :significant => false)}
            .clear
          .clear
        .info_wrapper
          .left_column
            %strong.small_caps Description
            %p #{@rubygem.description}
            %hr
            %strong.small_caps Authors
            %h3 #{@rubygem.authors_names}
            - if not @rubygem.indicators.nil?
              %hr
              %strong.small_caps Indicators
              %ul.indicators{:style => 'margin:15px 0'}
                - @rubygem.indicators.each do |key,value|
                  %li{:class => value } #{key}
              = link_to 'See more at Rails Plugins »', @rubygem.railsplugins_url, :target => :_blank
          .right_column
            %strong.small_caps Version
            %p
              %strong #{@rubygem.version}
              (#{@rubygem.version_downloads} downloads)
            %hr
            %dl
              - if @rubygem.homepage_uri
                %dt
                  %strong.small_caps Home
                %dd= nice_link @rubygem.homepage_uri
              - if @rubygem.project_uri
                %dt
                  %strong.small_caps Project
                %dd= nice_link @rubygem.project_uri
              - if @rubygem.gem_uri
                %dt
                  %strong.small_caps Gem
                %dd= nice_link @rubygem.gem_uri
              - if @rubygem.source_code_uri
                %dt
                  %strong.small_caps Source
                %dd= nice_link @rubygem.source_code_uri
              - if @rubygem.bug_tracker_uri
                %dt
                  %strong.small_caps Bugs
                %dd= nice_link @rubygem.bug_tracker_uri
              - if @rubygem.wiki_uri
                %dt
                  %strong.small_caps Wiki
                %dd= nice_link @rubygem.wiki_uri
              - if @rubygem.mailing_list_uri
                %dt
                  %strong.small_caps Mailing List
                %dd= nice_link @rubygem.mailing_list_uri
          .clear
    .clear
%footer
  .container
    .span-11
      .gem_users.list_with_pictures
        %h3 See who is using this Gem
        %ul
          - @rubygem.users.each do |u|
            %li
              %a{:href => user_path(u.login)}
                #{gravatar(u.gravatar_id, 40)}
                %strong #{u.name}
                -# %span.level {level}
