<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @rubygem.name %>
</p>

<p>
  <b>Description:</b>
  <%= @rubygem.description %>
</p>

<p>
  <b>Downloads:</b>
  <%= @rubygem.downloads %>
</p>

<p>
  <b>Version:</b>
  <%= @rubygem.version %>
</p>

<p>
  <b>Version downloads:</b>
  <%= @rubygem.version_downloads %>
</p>

<p>
  <b>Homepage uri:</b>
  <%= @rubygem.homepage_uri %>
</p>

<p>
  <b>Authors:</b>
  <%= @rubygem.authors %>
</p>

<p>
  <b>Project uri:</b>
  <%= @rubygem.project_uri %>
</p>

<p>
  <b>Gem uri:</b>
  <%= @rubygem.gem_uri %>
</p>

<p>
  <b>Source code uri:</b>
  <%= @rubygem.source_code_uri %>
</p>

<p>
  <b>Bug tracker uri:</b>
  <%= @rubygem.bug_tracker_uri %>
</p>

<p>
  <b>Wiki uri:</b>
  <%= @rubygem.wiki_uri %>
</p>

<p>
  <b>Mailing list uri:</b>
  <%= @rubygem.mailing_list_uri %>
</p>


<%= link_to 'Edit', edit_rubygem_path(@rubygem) %> |
<%= link_to 'Back', rubygems_path %>
