#rubygem_profile
  .container
    .span-6
      .rubygem_image
        RUBYGEM IMAGE
    .span-18.last
      .gem_name
        %span.download #{@rubygem.downloads}
        %h1#gem_name #{@rubygem.name}
        .clear
      .clear
      .rubygem_info
        .left_column
          %strong.small_caps Description
          %p #{@rubygem.description}
        .right_column
          %strong.small_caps Version
          %p
            %strong #{@rubygem.version}
            (#{@rubygem.version_downloads} downloads)
        .clear
        %hr
        .left_column
          %strong.small_caps Authors
          %h2 #{@rubygem.authors}
        .right_column
          - if @rubygem.homepage_uri
            %strong.small_caps= Rubygem.human_attribute_name :homepage_uri
            %p= link_to @rubygem.homepage_uri, @rubygem.homepage_uri
          - if @rubygem.project_uri
            %hr
            %strong.small_caps= Rubygem.human_attribute_name :project_uri
            %p= link_to @rubygem.project_uri, @rubygem.project_uri
          - if @rubygem.gem_uri
            %hr
            %strong.small_caps= Rubygem.human_attribute_name :gem_uri
            %p= link_to @rubygem.gem_uri, @rubygem.gem_uri
          - if @rubygem.source_code_uri
            %hr
            %strong.small_caps= Rubygem.human_attribute_name :source_code_uri
            %p= link_to @rubygem.source_code_uri, @rubygem.source_code_uri
          - if @rubygem.bug_tracker_uri
            %hr
            %strong.small_caps= Rubygem.human_attribute_name :bug_tracker_uri
            %p= link_to @rubygem.bug_tracker_uri, @rubygem.bug_tracker_uri
          - if @rubygem.wiki_uri
            %hr
            %strong.small_caps= Rubygem.human_attribute_name :wiki_uri
            %p= @rubygem.wiki_uri
          - if @rubygem.mailing_list_uri
            %hr
            %strong.small_caps= Rubygem.human_attribute_name :mailing_list_uri
            %p= @rubygem.mailing_list_uri
        .clear
    .clear
.footer
  .container
    .gem_users
      %h3 See who is using this Gem
      %ul.list_of_gem_users
        - 20.times do
          %li
            .info
              #{image_tag 'default_user_image.png', :size => '24x24'}
              %strong {username}
              %span.level {level}