.page_overlay
  #password_form
    = form_for(@user) do |f|
      .close{:title => 'Close'} #{image_tag 'icons/minus-octagon-frame.png'}
      .clear
      %h3
        Please set your password.

      %strong#password_error.hide
      %fieldset
        = f.label :password
        %br
        = f.password_field :password, :tabindex => 1
      #user_password_required.required_field.hide
        %strong Password requires at least 6 characters

      %fieldset
        = f.label :password_confirmation, 'Confirmation'
        %br
        = f.password_field :password_confirmation, :tabindex => 2
      #user_password_confirmation_must_match.required_field.hide
        %strong Password and confirmation must match

      %br
      %fieldset
        .actions
          = f.submit 'Send', :tabindex => 3
          .clear
= javascript_include_tag 'password_modal'

%div{ :style => 'text-align:right; width:120px; float:right;' }
  #show_password
    .show_password_icon
    %label.show_password_label{ :for => 'show_password' } Exibir senha &nbsp;
  #hide_password.hide
    .hide_password_icon
    %label.hide_password_label{ :for => 'hide_password' } Ocultar senha &nbsp;
