= render 'password_modal' if @password_modal
#railer_profile.content_wrapper
  .container
    .wrapper
      .span-7
        .image_wrapper
          #{gravatar(@user.gravatar_id, 256)}
          %br
          .user_score
            .tweet_this{:style => 'float: right'}
              #{tweet_this("railer.im a level #{@user.level} » http://railer.im/#{@user.login}")}
            %strong Level #{@user.level} (#{@user.score} points)
          .clear
      .span-17.last
        .info_wrapper
          .header
            %h1#user_name
              #{@user.name}
              %span (#{link_to @user.login, "http://github.com/#{@user.login}"})
              - if me?
                = link_to edit_profile_path(current_user) do
                  = image_tag 'icons/pencil.png'
                  edit
            .detail.recommend
              %span#recommendations_total.recommendations= @user.recommended_by.size
            %a#recommend_button.railerim_button{:href => '#', :class => recommend_button_class }= recommend_button_text
            :javascript
              var user_id = #{@user.id}
            .clear
          .clear
          .left_column
            .company_name
              %strong.small_caps Company
              %h3
                - if @user.company
                  = link_to @user.company.name, @user.company
                - else
                  NA
            %hr
            .blog
              %strong.small_caps Blog
              %h3 #{nice_link @user.blog}
              %hr
              .location
                %strong.small_caps Location
                %h3
                  #{link_to @user.city, locations_city_path(:id => @user.city) if @user.city}
                  - if @user.state
                    = image_tag "flags/#{@user.country_code.downcase}.png"
                    #{link_to @user.state, locations_country_path(:id => @user.state) }
                  - else
                    NA
            -#
              %hr
              .bio
                %strong.small_caps Bio
            %hr
            .wwr
              %strong.small_caps WWR
              %h3 #{@user.wwr_id ? nice_link(@user.wwr_url) : 'NA'}
          .right_column
            - unless @user.owned_gems.empty?
              .personal_gems
                %strong.small_caps Owner of the following Gems
                %hr
                %ul
                  - @user.owned_gems.each do |g|
                    %li
                      %a{:href => "#{rubygem_path(g.name)}"} #{g.name}
            - unless @user.recommends.empty?
              .recommended.list_with_pictures
                %strong.small_caps Recommended
                %ul
                  - @user.recommends.each do |u|
                    %li
                      %a{:href => user_path(u.login)}
                        #{gravatar(u.gravatar_id, 24)}
                        %strong #{u.name}              
                %hr
            .owns_the_repos
              %strong.small_caps Repositories (#{@user.repositories.where('not fork').count})
              %ul
                - for repo in @user.repositories.order('watchers desc').where('not fork')
                  %li
                    = image_tag repo.language_icon, :class => 'language_icon', :title => repo.language
                    %strong #{link_to repo.name, repo.url, :target => :_blank}
                    .watchers{ :title => :watchers }
                      #{image_tag 'icons/foaf.png'} #{repo.watchers}
                    %br
                    = repo.description
                    .clear
= javascript_include_tag 'user_profile.js'
= javascript_include_tag 'recommend_user.js'
%footer
  .container
    .span-11.append-1
      - unless @user.followers.empty?
        .followers.list_with_pictures
          %strong.small_caps Followers
          %ul
            - @user.followers.each do |f|
              %li
                = link_to profile_path(f) do
                  #{gravatar(f.gravatar_id,24)}
                  #{f.name}
      - else
        &nbsp;
    .span-11.prepend-1.last
      - unless @user.used_gems.empty?
        .used_rubygems
          %strong.small_caps Used rubygems
          %ul
            - @user.used_gems.each do |g|
              %li
                = link_to rubygem_path(g) do
                  %samp #{g.name}
      - else
        &nbsp;