#railer_profile.content_wrapper
  .container
    .wrapper
      .span-7
        .image_wrapper
          #{gravatar(@user.gravatar_id, 256)}
          %br
          .user_score
            .tweet_this{:style => 'float: right'}
              #{tweet_this('Level 10 railer.im #rails http://railer.im/username')}
            %strong Level 10 (1231 points)
            .clear
      .span-17.last
        .info_wrapper
          .header
            %h1#user_name
              #{@user.name}
              %span (#{@user.login})
            .detail.recommend
              %span.recommendations= @user.recommended_by.size
            %a.railerim_button{:href => '#'} Recommend
            .clear
          .clear
          .left_column
            .company_name
              %strong.small_caps Company
              %h3 #{@user.company_name}
            %hr
            .blog
              %strong.small_caps Blog
              %h3 #{@user.blog}
            %hr
            .location
              %strong.small_caps Location
              %h3 #{@user.location}
            %hr
            .bio
              %strong.small_caps Bio
          .right_column
            - unless @user.owned_gems.empty?
              .personal_gems
                %strong.small_caps Owner of the following Gems
                %hr
                %ul
                  - @user.owned_gems.each do |g|
                    %li
                      %a{:href => "#{rubygem_path(g.name)}"} #{g.name}
            .recommended
              %strong.small_caps Recommended
              #{@user.recommends}
            %hr
            .owns_the_repos
              %strong.small_caps Repositories (#{@user.repositories.where('not fork').count})
              %br
              %br
              - for repo in @user.repositories.order('watchers desc').where('not fork')
                = image_tag repo.language_icon, :style => 'float:left;margin:1em', :title => repo.language
                %strong #{link_to repo.name, repo.url, :target => :_blank} &nbsp;
                = image_tag 'icons/foaf.png', :title => :watchers, :style => 'width:14px'
                #{repo.watchers}
                %br
                = repo.description

                %br
                %hr
                
= javascript_include_tag 'user_profile.js'
%footer
  .container
    .span-12
      .followers
        %strong.small_caps Followers
    .span-12.last
      .used_rubygems
        
        %strong.small_caps Rubygems
