#railer_profile.content_wrapper
  .container
    .wrapper
      .span-7
        .image_wrapper
          #{gravatar(@user.gravatar_id, 256)}
          %br
          .user_score
            .tweet_this{:style => 'float: right'}
              #{tweet_this('Level 10 railer.im #rails http://railer.im/username')}
            %strong Level 10 (1231 points)
            .clear
      .span-17.last
        .info_wrapper
          .header
            %h1#user_name
              #{@user.name}
              %span (#{@user.login})
            .detail.recommend
              %span.recommendations= @user.recommended_by.size
            %a.railerim_button{:href => '#'} Recommend
            .clear
          .clear
          .left_column
            .company_name
              %strong.small_caps Company
              %h3 #{@user.company_name}
            %hr
            .blog
              %strong.small_caps Blog
              %h3 #{@user.blog}
            %hr
            .location
              %strong.small_caps Location
              %h3 #{@user.location}
            %hr
            .bio
              %strong.small_caps Bio
            %hr
            .used_rubygems
              %strong.small_caps Rubygems
          .right_column
            .personal_gems
              %strong.small_caps Maintener of the following Gems
              %ul
                - 5.times do
                  %li
                    %a{:href => '#'} lorem
            .recommended
              %strong.small_caps Recommended
              #{@user.recommends}
            %hr
            .followers
              %strong.small_caps Followers
            %hr
            .owns_the_repos
              %strong.small_caps Repositories
              %h3 #{@user.public_repo_count}
= javascript_include_tag 'user_profile.js'
%footer
  .container
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.