%header
  .container
    .span-6
      %h1{:style => 'margin-top: 6px;'} #{link_to image_tag('railerim_logo_small.png', :id => 'logo'), root_path}
    .span-14.append-4.last
      %form{:style =>'margin-top: 6px;'}
        %fieldset
          %nav
            - if current_user
              #{link_to "My profile (#{current_user.name})", profile_path(current_user)}&nbsp;&middot;&nbsp;#{link_to 'Logout', user_sessions_path, :method => :delete}
            - else
              #{link_to 'Login', '#', :id => 'open_login_form'}
          %input#search.span-8{ :type => :search, :placeholder => 'Search', :autocomplete => :off }
      .prepend-8.last
        =render ('shared/search_panel')
    .clear
= render 'shared/login' unless current_user
