%header
  .container
    .span-6
      %h1{:style => 'margin-top: 4px;'} #{link_to image_tag('railerim_logo_small.png', :id => 'logo'), root_path}
    .span-18.last
      %form
        %fieldset
          %nav
            - if current_user
              = link_to 'My profile', profile_path(current_user)
              &middot;&nbsp;
              = link_to 'Logout', user_sessions_path, :method => :delete
            - else
              = link_to 'Login', '#', :id => 'open_login_form'
          %input#search{ :type => :search, :placeholder => 'Search' }
    .clear

= render 'shared/login' unless current_user