%header
  .container
    .span-6
      %h1 #{link_to image_tag('railerim_logo_small.png'), root_path}
    .span-18.last
      %form
        %fieldset
          %nav
            - if current_user
              = link_to 'My profile', profile_path(current_user)
              &middot;&nbsp;
              = link_to 'Logout', user_sessions_path, :method => :delete
            - else
              = link_to 'Login', '#', :id => 'open_login_form'
          &middot;&nbsp;
          %input#search{ :type => :search, :placeholder => 'Search' }
          #{link_to image_tag('rumble_small.png', :style => 'vertical-align: middle'), 'http://railsrumble.com/teams/softa', :target=> :_blank, :title => 'Softa Team @ Rails Rumble MMX'}
    .clear
- unless current_user
  .page_overlay.hide
    #login_form.hide
      = form_for(@user_session) do |f|
        .close #{image_tag 'icons/minus-octagon-frame.png'}
        .clear
        %strong#login_error.hide
        %fieldset
          = f.label :login
          %br
          = f.text_field :login
        #user_session_login_required.required_field.hide
          %strong Login required
        %br
        %fieldset
          = f.label :password
          %br
          = f.password_field :password
        #user_session_password_required.required_field.hide
          %strong Password required
        %br
        %fieldset
          .actions
            = f.submit 'Login'
            .clear
  = javascript_include_tag 'login'