.page_overlay.hide
  #amnesia_form.hide
    = form_for(User.new, :url => {:action => 'send_reset_email'}) do |f|
      .close{:title => 'Close'} #{image_tag 'icons/minus-octagon-frame.png'}
      .clear
      %h3
        Inform your email to get a password reset link.

      %strong#amnesia_error.hide
      %fieldset
        = f.label :email

        %small
          %a.back_to_login{:href => '#'} &laquo; Back to login
        %br
        = f.text_field :email, :tabindex => 1
      #user_session_email_required.required_field.hide
        %strong Email required
      %br
      %fieldset
        .actions
          = f.submit 'Send', :tabindex => 3
          .clear
  #login_form.hide
    = form_for(@user_session) do |f|
      .close{:title => 'Close'} #{image_tag 'icons/minus-circle.png'}
      .clear
      %strong#login_error.hide
      %fieldset
        = f.label :login
        %br
        = f.text_field :login, :tabindex => 2
      #user_session_login_required.required_field.hide
        %strong Login required
      %br
      %fieldset
        = f.label :password
        %small
          %a.forgot_password{:href => '#'} Forgot your password?
        %br
        = f.password_field :password, :tabindex => 3
      #user_session_password_required.required_field.hide
        %strong Password required
      %br
      %fieldset
        .actions
          = f.submit 'Login', :tabindex => 4
          .clear
= javascript_include_tag 'login'
:javascript 
  $('#search').focus(function(){
    $('#search_panel').slideDown()
  })
  $('.close_search').click(function(){
    $('#search_panel').slideUp()
  })

