#search_panel.hide{:style => 'z-index:5000000; position: relative;'}
  .close_search{:title => 'Close'} #{image_tag 'icons/minus-circle.png'} close
  %table
    %tr
      %th
        Best Match
      %td
        %table#best_search_list
          %tr
            %td.gravatar
            %td.user_name
    %tr
      %th
        User
      %td
        %table#users_search_list
          %tr
            %td.gravatar
            %td.user_name
    %tr
      %th Gems
      %td
        %table#rubygems_search_list
          %tr
            %td
              #{image_tag 'icons/ruby.png'}
    %tr
      %th Teams
      %td
        %table#teams_search_list
          %tr
            %td
              #{image_tag 'rumble_small.png', :size => '16x16'}
    %tr
      %th Companies
      %td
        %table#companies_search_list
          %tr
            %td
              #{image_tag 'icons/briefcase.png'}
    %tr
      %th Location
      %td
        %table#locations_search_list
          %tr
            %td
              #{image_tag 'icons/marker.png'}
= javascript_include_tag 'jquery.timers-1.2', 'timedKeyup', 'search'
-#
  [{"gravatar_id":"7089678f7027c45dc6708825b01c8731", "label":"Leonardo Tartari","entry_type":"user","rank":"1","key":"ltartari"}]
