:javascript
  ls = []
  locs = []
%h2 Live view
#map.map.span-16{:style => 'height:400px; margin-bottom:30px;'}
.new_users_list_wrapper.span-8.last
  %ul
    - for user in User.recent.six
      :javascript 
        ls.push([#{user.lat}, #{user.lng}, '#{user.name}', '#{user.gravatar_id}', '#{user.login}'])
      = render :partial => 'user_row', :locals => {:user => user}
- for loc in Location.biggest.ten
  :javascript 
    locs.push([#{loc.lat}, #{loc.lng}, '#{loc.total}'])
%script{:src => "http://maps.google.com/maps/api/js?sensor=false&hl=pt-br"}
:javascript 
  last_id = #{User.recent.first.id rescue 0}
  $(function(){
    var latlng = new google.maps.LatLng(0,0);
    var options = {
      zoom: 2,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("map"), options);
    for(var i=0;i<locs.length;i++){
      var latlng = new google.maps.LatLng(locs[i][0], locs[i][1])
      railers = locs[i][2]
      new google.maps.Marker({title: railers == 1 ? railers + ' railer' : railers + ' railers', icon:'/images/icons/ruby.png',position:latlng,map:map});
    }
    for(var i=0;i<ls.length;i++){
      var latlng = new google.maps.LatLng(ls[i][0], ls[i][1])
      var m = new google.maps.Marker({title:ls[i][2], icon:'http://gravatar.com/avatar/'+ls[i][3]+'?s=24',position:latlng,map:map,page:'/'+ls[i][4]});
      google.maps.event.addListener(m, 'click', function() {
        location.href = this.page 
      });

    }
  })
  live = function(){
    $.getJSON('/home/live?last_id=' + last_id, function(data){
      if( ! data.length ) return
      $('.accesses em.none').slideUp("slow")
      for(i in data){
        if(data[i].lat && data[i].lng){
          var latlng = new google.maps.LatLng(data[i].lat, data[i].lng)
          map.panTo(new google.maps.LatLng(data[i].lat, data[i].lng));
          m = new google.maps.Marker({title:data[i].title, icon:'http://gravatar.com/avatar/'+data[i].gravatar_id+'?s=24', icon:'/images/icons/ruby.png',position:latlng,map:map,page:'/'+data[i].login});
          google.maps.event.addListener(m, 'click', function() {
            location.href = this.page 
          });
        }
        new_li = $(data[i].html)
        $('.new_users_list_wrapper ul').prepend(new_li)
        new_li.slideDown("slow");
        last_id = data[i].id
      }
    })
    setTimeout( live, 6000 )
  }
  setTimeout( live, 3000 )