#home.content_wrapper
  .container
    .home_wrapper{:style => 'max-width:1200px; margin: 0 auto; margin-top:20px;'}
      .column_left{:style => 'width:380px; margin-right:20px; float:left;'}
        #{image_tag 'plintscleef.png', :width => 320}
        %h1{:style => 'margin:0;font-size:16px'} Find information about railers from around the world
      .column_center{:style => 'width:380px; margin:0 10px; float:left;'}
        #{image_tag 'plintscleef.png', :width => 320}
        %h1{:style => 'margin:0;font-size:16px'}  Discover peoples favorite gems
      .column_right{:style => 'width:380px; margin-left: 20px; float:left;'}
        #{image_tag 'plintscleef.png', :width => 320}
        %h1{:style => 'margin:0; font-size:16px'}  Meet the railers in your local area
      .clear
      = render ('home/signup') unless current_user
%footer
  .container
    = render ('home/live')