#home_stats.content_wrapper
  .container
    %h1 Statistics
    .header
      %h1{:style => 'font-size:1.2em'}
        = pluralize(User.count, 'railer')
        &middot;
        = pluralize(Company.count, 'corp')
        &middot;
        = pluralize(Team.count, 'team')
        &middot;
        = pluralize(Rubygem.count, 'gem')
        &middot;
        = pluralize(Repository.count, 'repo')
        &middot;
        = pluralize(Country.count, 'country')
        &middot;
        = pluralize(City.count, 'city')
      .clear
    .span-12
      %hr
      %strong.small_caps Top Railers
      %table{:cellpadding=>0, :cellspacing=>0}
        - max_score = User.maximum(:score)
        - for railer in User.by_vip.limit(10)
          - railer_perc = (railer.score / max_score.to_f)*100
          %tr
            %td{:style => 'white-space:nowrap'}= link_to railer.login, profile_path(railer)
            %td{:style => 'width:100%'}
              .railer_scores.horizontal_bars{:style => "width:#{railer_perc}%;"}= railer.score
    .span-12.last
      %hr
      %strong.small_caps Top Gems
      %table{:cellpadding=>0, :cellspacing=>0}
        - max_downloads = Rubygem.maximum(:downloads)
        - for g in Rubygem.by_downloads.limit(10)
          - g_perc = (g.downloads / max_downloads.to_f)*100
          %tr
            %td{:style => 'white-space:nowrap'}= link_to g.name, g
            %td{:style => 'width:100%'}
              .horizontal_bars.downloads{:style => "width:#{g_perc}%"}= g.downloads
    .clear
    .span-8
      %hr
      %strong.small_caps Levels
      %table{:cellpadding=>0, :cellspacing=>0}
        - levels_sum = Level.sum('total')
        - for level in Level.all
          - levels_perc = (level.total / levels_sum.to_f)*100
          %tr
            %td= level.level.ordinalize
            %td{:style => 'width:100%'}
              .horizontal_bars.level_total{:style => "width:#{levels_perc}%"}= level.total
    .span-8
      %hr
      %strong.small_caps Top Countries
      %table{:cellpadding=>0, :cellspacing=>0}
        - countries_sum = Country.sum('total')
        - for country in Country.all
          - countries_perc = (country.total / countries_sum.to_f)*100
          %tr
            %td{:style => 'white-space:nowrap'}= link_to COUNTRY_CODES[country.country_code], locations_country_path(:id => country.country_code)
            %td{:style => 'width:100%'}
              .horizontal_bars.country_total{:style => "width:#{countries_perc}%"}= country.total
    .span-8.last
      %hr
      %strong.small_caps Top Cities
      %table{:cellpadding=>0, :cellspacing=>0}
        - cities_sum = City.sum('total')
        - for city in City.limit(Country.count).all
          - cities_perc = (city.total / cities_sum.to_f)*100
          %tr
            %td{:style => 'white-space:nowrap'}= link_to city.city, locations_city_path(:id => city.city)
            %td{:style => 'width:100%'}
              .horizontal_bars.city_total{:style => "width:#{cities_perc}%"}= city.total
%footer
  .container
    %h2 &nbsp;