.content_wrapper
  .container
    .wrapper
      .span-7
        .image_wrapper
          = render 'map'
      .span-17.last
        .info_wrapper
          .header
            %h1#company_name
              #{@company.name}
            .clear
          .clear
          .company_name
            %strong.small_caps Users
            .list_with_pictures
              %ul
                - for user in @company.users
                  %li.span-12.last
                    = link_to profile_path(user) do
                      %table
                        %tr
                          %td{:style => 'width:100px' }= gravatar user.gravatar_id, 100
                          %td{:style => 'vertical-align:top' }
                            %strong #{user.name}
                            %br
                            #{user.location}
                            %br
                            #{user.level.ordinalize} level RailerRank
= javascript_include_tag 'company_profile.js'
%footer
  .container
    .span-11.append-1
    .span-11.prepend-1.last
