.content_wrapper
  .container
    .wrapper
      .span-7
        .image_wrapper
          %br
      .span-17.last
        .info_wrapper
          .header
            %h1#company_name
              #{@company.name}
            .clear
          .clear
          .company_name
            %strong.small_caps Users
            .list_with_pictures
              %ul
                - for user in @company.users
                  %li
                    = link_to profile_path(user) do
                      #{gravatar user.gravatar_id, 24}
                      #{user.name}
= javascript_include_tag 'company_profile.js'
%footer
  .container
    .span-11.append-1
    .span-11.prepend-1.last
