!!! 5
%html{:lang => :en}
  %head
    %meta{:charset => 'utf-8'}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "chrome=1"}
    %title railer.im
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = javascript_include_tag :defaults, 'placeholder'
    = csrf_meta_tag
    %link{ :rel => 'shortcut icon', :href => '/images/favicon.png' }
    = render ('shared/analytics')
  %body
    = render :partial => 'layouts/flash', :locals => { :flash => flash } unless flash.empty?
    = render ('shared/header')
    #root
      = yield
      .clear
      #colophon
        .container
          #{link_to image_tag('softa_logo.png'), 'http://softa.com.br', :target => :_blank, :style=>'float:right;'}
          %strong{:style => 'line-height: 48px; color:#AAA'} Railer.Im is Softa open source project for Rails Rumble MMX. Fork on GitHub.
          .clear
        .final_div
    :javascript 
      $("[placeholder]").textPlaceholder();
